@using Microsoft.AspNetCore.Components.Authorization;



<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Enfer Corp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            
              <span class="navbar-toggler-icon"></span>

        </button>
    </div>
</div>





<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="countries">
                <i class="oi oi-globe"></i> Paises
                @*<span class="oi oi-list-rich" aria-hidden="true"></span> Paises*@
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>



        <AuthorizeView Roles="Admin">
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <i class="oi oi-tags"></i> Categorias
                @*<span class="oi oi-list-rich" aria-hidden="true"></span> Categorias*@
            </NavLink>
        </div>
            </Authorized>
        </AuthorizeView>


        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="histories">
                        <i class="oi oi-book"></i> Historias Clínicas
                        @*<span class="oi oi-list-rich" aria-hidden="true"></span> Historias Clínicas**@
                    </NavLink>
                </div>
            </Authorized>
       </AuthorizeView>


        <AuthorizeView Roles="Admin">
        <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <i class="oi oi-person"></i> Empleados
                @*<span class="oi oi-list-rich" aria-hidden="true"></span> Historias Clínicas*@
            </NavLink>
        </div>
        </Authorized>
        </AuthorizeView>


    </nav>
</div>



@code {



    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
